.input_wrapper {
  margin-bottom: 15px;
}

.input {
  height: 16px;
  width: 16px;
  margin-right: 10px;
}

.input_ico {
  margin-right: 6px;
}

.input_label {
  font-size: 13px;
  cursor: pointer;
  display: flex;
  align-items: center;
  width: fit-content;
}
