@use "../../styles/mixins.scss" as mixins;

.container {
  background-color: #fff;
  padding: 20px 0px 0px 16px;
  width: 13%;
  min-width: 120px;
  height: fit-content;
  position: fixed;
  border-radius: 20px;
  display: none;
  margin: 8px;
  @include mixins.onTablet {
    display: block;
  }
}

.title {
  margin-bottom: 14px;
  font-weight: 900;
}